body {
    font-family: Helvetica Neue, monospace;

}

body,
#whole-page {
    padding-top: 50px;
    padding-bottom: 300px;
    background-image: url("../images/people.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-text {
    letter-spacing:3px;
    color: white;
}

#form-1 {
    background-color: white;

    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
            }

#form-2 {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
            }

#city-select {
    width: 180px;
}

#footer {
    min-width: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;

}

.credit {
    height: 50px;
    text-align: center;
    margin: auto;
    background-color: black;
    padding-top: 15px;
}

.with-error {
    background-color: #ce8483;
}

#saved_reg {
    margin: auto;
    color: coral;

}

#profile {
    padding-top: 100px;
    width: 100%;
}

#logout_form {
     padding-left: 100px;
}

#logout-button {
    height: 30px;
    width: 150px;
    margin:auto;
    text-align: center;
    background-color: #150000;
    border-radius: 8px;
    color: peachpuff;
}

#login-welcome,
.welcome {
    color: coral;
    padding-left: 100px;
}


#saved_form {
    background-color: #150000;
    border-radius: 8px;
    color: peachpuff;
}

#success {
    margin-left: 100px;
    margin-top: 200px;
}
#success_p,
#save_button {
    margin-left: 100px;
}



#contacts ul li #email-contact  a {
  background-image: url('../static/images/email.png');
}

#contacts {
    font-size: large;
    margin-top: 230px;
    margin-left: 80px;
    color: coral;
}

#contacts ul {
    list-style: none;
}

#contacts ul li {
    margin-top: 15px;
    margin-bottom: 15px;
}

#email-contact,
#tel-contact {
    color:  #150000;
    font-weight: 700;
    font-size: 1.7em;
}

#dog {
    color: #150000;
}