body {
    font-family: Helvetica Neue, monospace;

}

body,
#whole-page {
    padding-top: 50px;
    padding-bottom: 300px;
    background-image: url("../images/people.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-text {
    letter-spacing:3px;
    color: white;
}

#form-1 {
    background-color: white;

    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
            }

#form-2 {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
            }

#city-select {
    width: 180px;
}

#footer {
    min-width: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;

}

.credit {
    height: 50px;
    text-align: center;
    margin: auto;
    background-color: black;
    padding-top: 15px;
}

.with-error {
    background-color: #ce8483;
}

#saved_reg {
    margin: auto;
    color: coral;

}

#profile {
    padding-top: 100px;
    width: 100%;
}

#logout-button {
    height: 30px;
    width: 150px;
    color: dimgray;
    margin:auto;
    text-align: center;
    background-color: darkgrey;
}

#login-welcome {
    color: lightsalmon;
}

#logout_form {
     padding-left: 100px;
}

#save_button {
    background-color: aliceblue;
    color: darkgrey;
}

#success {
    margin-left: 100px;
    margin-top: 200px;
}
#success_p,
#save_button {
    margin-left: 100px;
}