body {
    font-family: Helvetica Neue, monospace;

}

body,
#whole-page {
    padding-top: 50px;
    padding-bottom: 300px;
    background-image: url("../images/people.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-text {
    letter-spacing:3px;
    color: white;
}

#form-1 {
    background-color: white;

    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
            }

#form-2 {
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
            }

#city-select {
    width: 180px;
}

#footer {
    display: table;
    margin-left: auto;
    margin-right: auto;

}

.credit {
    text-align: center;
    margin: auto;
    background-color: black;
}

.with-error {
    background-color: #ffffcc;
}

#success {
    margin: auto;
    color: white;
}
