{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-5" id="about">
                <h1>About Codecool DOG5</h1>
                <p>Members of the team DOG5 are studying codeing currently at Codecool, Budapest.
                   The team contains 5 members.


                   We do our best to deliver quality work every time when we have work to do. This webpage was
                    created on a team work week, it's purpose is to manage work associated with a school.
                </p>
                <p>
                    This project was created only with practice purposes.
                </p>
            </div>
        <div class="col-md-5">
    </div>





{% endblock %}