{% extends "layout.html" %}

{% block title %}Contact Us{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-5" id="contact-body">
                <h1>Feel free to contact us</h1>
                <div id="contacts">
                    <ul>
                        <li>Send us an email: <a id="email-contact" href="mailto:webmaster@example.com">dog5laboratories@gmail.com</a></li>
                         <li>Call us: <a id="tel-contact"href="tel:+36-30-1111-222">+36-30-1111-222</a></li>
                    </ul>

                </div>
            </div>
        <div class="col-md-5">
    </div>





{% endblock %}