{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}

        <div class="row top-buffer" id="whole-page">
            <div class="col-md-2"></div>
            <div class="col-md-5" id="main-text">
                <h2>Welcome to DOG5's school system.</h2>
                <p>Hi, nice to meet you!</p>
                <p>Codecool's school system is providing detailed information about your application process.
                </p>
                <p>After logging in you can see every detail about it, including your
                    interview times, mentors, she school where you applied, etc.</p>
                <p>In case you are not a member yet, feel free to join by registrating on the right!</p>
            </div>

            <div class="col-md-3">
                <form action="" method="" id="form-1">

                    <div class="form-group">
                        <h3>Login:</h3>
                        <input type="email" class="form-control" id="account" placeholder="email"/>
                    </div>

                    <div class="form-inline">
                        <input type="text" class="form-control" id="password" placeholder="application code"/>
                        <a class="btn btn-info pull-right" href="">Login</a>
                    </div>
                </form>

                <form action="/registration" method="post" id="form-2">
                    <div class="form-group">
                        <h4>New here? <small>Register now</small></h4>
                        <input type="text" class="form-control {% if 'name' in reg_data_valid.error %}with-error{% endif %}" name="name" required="True" placeholder="Full name (e.g: John Doe)" value="{{ reg_data_valid.name|default('') }}"/>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control {% if 'email' in reg_data_valid.error %}with-error{% endif %}" name="email" required="True" placeholder="email" value="{{ reg_data_valid.email|default('') }}"/>
                        <label for="city-select">Chosen school:</label><br>
                    </div>

                    <div class="form-inline">
                        <select id="city-select" name="school" class="form-control">
                            {% for school in school_list %}
                            <option>{{ school }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="btn btn-warning pull-right" value="Register"/>
                    </div>

                </form>
            </div>
        </div>

{% endblock %}
